img {
    width: 400px;
}

.try-again__button {
    display: none;
    margin: 20px auto;
}

.fight-form {
    display: none;
}

.show {
    display: block;
    text-align: center;
}

main {
    text-align: center;
    margin: 50px auto;
}

.change-name {
    display: flex;
    justify-content: center;
}

