img {
    width: 400px;
}

.try-again__button {
    display: none;
    margin: 20px auto;
}

.fight-form {
    display: none;
}

.show {
    display: block;
    text-align: center;
}

main {
    text-align: center;
    margin: 50px auto;
}

.change-name {
    display: flex;
    justify-content: center;
}

button {
    background-color: black;
    color: white;
    width: 120px;
    padding: 10px;
    font-size: 14px;
}

#name {
    height: 40px;
    margin-right: 15px;
}

label {
    margin-right: 15px;
}

.result {
    font-size: 16px;
    color: blue;
}

.stats-container {
    font-size: 16px;
}

.enemy-container {
    font-size: 16px;
    margin-top: 50px;
    color: brown;
}